<%= form_for(@apart) do |f| %>
  <% if @apart.errors.any? %>
      <h2><%= @apart.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @apart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <%= f.label :物件名 %><br>
    <%= f.text_field :name %><br>
    <%= f.label :賃料 %><br>
    <%= f.number_field :rent %><br>
    <%= f.label :住所 %><br>
    <%= f.text_field :address %><br>
    <%= f.label :築年数 %><br>
    <%= f.number_field :age %><br>
    <%= f.label :備考 %><br>
    <%= f.text_area :note %><br>
    <hr>
    <% j = 1 %>
    <%= f.fields_for :stations do |i| %>
      <h4><%= "最寄り駅#{j}" %></h4>
      <%= i.label :路線名 %><br>
      <%= i.text_field :line %><br>
      <%= i.label :駅名 %><br>
      <%= i.text_field :name %><br>
      <%= i.label :徒歩分数 %><br>
      <%= i.number_field :foot %><br>
      <% j += 1 %>
    <% end %>
    <%= f.submit %>

<% end %>
<%= link_to "戻る", aparts_path %>
