<h1>閲覧</h1>
  <p>物件名: <%= @apart.name %></p>
  <p>賃料: <%= @apart.rent %></p>
  <p>住所: <%= @apart.address %></p>
  <p>築年数: <%= @apart.age %></p>
  <p>備考: <%= @apart.note %></p>
<h2>最寄駅1</h2>
  <p>路線名: <%= @apart.station.line %></p>
  <p>駅名: <%= @apart.station.name %></p>
  <p>徒歩分数: <%= @apart.station.foot %></p>
<h2>最寄駅2</h2>
  <p>路線名: <%= @apart.station.line %></p>
  <p>駅名: <%= @apart.station.name %></p>
  <p>徒歩分数: <%= @apart.station.foot %></p>
