<!DOCTYPE html>
<html>
  <head>
    <title>Su○mo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= link_to "投稿一覧", aparts_path %>
    <%= link_to "新規投稿", new_apart_path %>
    <%= yield %>
  </body>
</html>
